ol.carousel-indicators
  each video, idx in videos
    li(data-target=carouselIDquery,data-slide-to=idx)
.carousel-inner(role="listbox")
  each video in videos
    div.item
      a(href="/music/"+video.slug)
        img(src=(video.img||'https://i.ytimg.com/vi/'+ video.videoID + '/sddefault.jpg'),alt=video.title)
        .carousel-caption
          h1=video.title  
a.left.carousel-control(href=carouselIDquery,role="button",data-slide="prev")
  span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
  span.sr-only Previous
a.right.carousel-control(href=carouselIDquery,role="button",data-slide="next")
  span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
  span.sr-only Next
