mixin pencil(ly, idx)
  span.glyphicon.glyphicon-pencil(aria-hidden="true",data-start-time=ly.startTime,data-end-time=ly.endTime,data-index=idx,data-text=ly.text)&attributes(attributes)
each ly, idx in lyrics 
  if(ly.heading)
    h4
      +pencil(ly, idx)(data-is-header="true")
      | #{ly.heading}
  p(class=ly.startTime, class = {"has-heading": !!ly.heading}, data-start-time=ly.startTime,data-end-time=ly.endTime,data-index=idx)
    +pencil(ly, idx)
    span #{ly.text}
    if(!ly.heading)
      a.add-heading-btn(href="#",data-index=idx)
        span.glyphicon.glyphicon-plus(aria-hidden="true")
        | Add Heading
    
