doctype html
html(lang='en')
  head
    include head.pug
    link(href='/css/player.css', rel='stylesheet')
    link(href='/css/lyric-editor.css', rel='stylesheet')
  body
    include nav-bar.pug
    .container-fluid#root
    footer.footer
      p &copy; 2017 KeduIje, Inc.
    script(src='/js/ie10-viewport-bug-workaround.js')
    script(src='/media-player.js', type='text/babel')
    script(src='/js/player.js')
    script(src='/lyric-display.js', type='text/babel')
    if (canEdit)
      script(src='/time-spinner.js', type='text/babel')
      script(src='/lyric-editor.js', type='text/babel')
    script(type='text/babel').
      var mediaType = KeduIje.mediaTypes.VIDEO;
      var onYouTubeIframeAPIReady;
      var src = 'http://www.youtube.com/embed/' + '#{videoID}' +'?enablejsapi=1&showinfo=0&color=white&modestbranding=1&origin=http://' + '#{origin}' + '&playsinline=1&rel=0';
      KeduIje.init("#{videoID}");
      
      var hi;
      function setCallback(component){
        if (mediaType == KeduIje.mediaTypes.AUDIO) return;
          
        onYouTubeIframeAPIReady = component.onYouTubeIframeAPIReady;
        $.getScript( "https://www.youtube.com/iframe_api" );
        hi=component;
      }
      ReactDOM.render(
        <MediaPlayer 
          ref={setCallback}
          canEdit={#{canEdit}}
          src={src}
          artworkSrc={"#{artwork_src}"}
          mediaType={mediaType}
        />,
        document.getElementById('root')
      );
