<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico?v=2">

    <title>KeduIje?</title>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Baloo" rel="stylesheet">
    <script src="https://unpkg.com/react@15/dist/react.js"></script>
    <script src="https://unpkg.com/react-dom@15/dist/react-dom.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template >
    <link href="/css/jumbotron-narrow.css" rel="stylesheet"-->

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>
      var songID = "<%= videoID %>";
      var user = JSON.parse('<%- JSON.stringify(user) %>');
      var editMode = false;

    </script>
    <script type="text/babel">


      class TimeSpinner extends React.Component {
        constructor(props) {
          super(props);
          this.variableName = this.props.variableName;

          this.state = {seconds: window[this.variableName]};


          this.increment = this.increment.bind(this);
          this.decrement = this.decrement.bind(this);

          spinners[this.variableName]=this;

        }

        setValue (val){
          this.setState({seconds: val});
        }

        decrement(){
          if(this.state.seconds>0){
            this.setState((prevState, props) => ({
              seconds: prevState.seconds - 1
            }));
          }
        }

        increment(){

            this.setState((prevState, props) => ({
              seconds: prevState.seconds + 1
            }));

        }

        componentDidUpdate(prevProps, prevState){
          window[this.variableName]=this.state.seconds;
        }
        render () {

          var displayedTimeMark = convertToTime(this.state.seconds);
          return <div className="spinner-container">
                    <div className="label">{this.props.label}</div>
                    <div className="inner-spinner">
                      <span className="display segmentStart">{displayedTimeMark}</span>
                      <a onClick={this.increment} tabIndex="-1" aria-hidden="true" className="spinner-button">
                        <span className="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
                      </a>
                      <a onClick={this.decrement} tabIndex="-1" aria-hidden="true" className="spinner-button" style={{top: "50%"}}>
                        <span className="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                      </a>
                      </div>
                  </div>;
        }
      }

      $(function(){
        ReactDOM.render(
          <TimeSpinner variableName="segmentStart" label="From"/>,
          document.getElementById('start-spinner')
        );

        ReactDOM.render(
          <TimeSpinner variableName="segmentEnd" label="To"/>,
          document.getElementById('end-spinner')
        );

      });
    </script>
    <link href="/css/player.css" rel="stylesheet">
    <link href="/css/lyric-editor.css" rel="stylesheet">
  </head>

  <body>

    <!-- Fixed navbar -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Kedu<span>Ije</span></a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <form class="navbar-form navbar-left">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          <input type="text" class="form-control" placeholder="Search Artists, Lyrics, and more...">
        </form>
        <ul class="nav navbar-nav navbar-right">
          <% if (user) { %>
          <li>
            <a href="#" class="user">
              <div class="user-avatar" style="background-image: url(http://graph.facebook.com/v2.8/<%= user.facebookID %>/picture);"></div>
              <span><%= user.facebookName %></span>
            </a>
          </li>
          <li><a href="/logout">Logout</a></li>
          <% } else { %>
          <li><a href="/login/facebook">Sign In</a></li>
          <li><a href="#about">Sign Up</a></li>
          <% } %>
          <li><a href="/music/new" class="accent">Add Lyrics</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>

    <div class="container-fluid">

      <div class="row">
        <div id="video-column" class="col-md-6 col-xs-12">

            <div class="embed-responsive embed-responsive-4by3"/>
              <iframe class="embed-responsive-item"
                src="http://www.youtube.com/embed/<%= videoID %>?enablejsapi=1&showinfo=0&color=white&modestbranding=1&origin=http://<%= origin %>&playsinline=1&rel=0"
                frameborder="0">
              </iframe>
            </div>

            <% if(canEdit) { %>
              <button id="edit-mode-btn" type="button" class="btn btn-default btn-lg">Edit</button>
            <% } %>



              <form id="lyricEditor">
                <div class="row">
                  <div class="col-md-12">
                    <div class="originalText"></div>
                    <input id="lyric" type="text" placeholder="Transcibe Lyrics...">
                  </div>
                </div>
                <div class="row">
                  <div id="start-spinner" class="col-md-5">
                  </div>
                  <div id="end-spinner" class="col-md-5">
                  </div>
                  <div class="col-md-2">
                    <a id="playLyric" type="button" class="btn btn-default btn-lg" title="play">
                      <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                    </a>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <button id="cancel-dialog-btn" class="btn btn-default btn-lg" type="reset">Cancel</button>
                  </div>
                  <div class="col-md-9">
                    <button id="save-lyric-btn" class="btn btn-default btn-lg" type="submit">Save</button>
                  </div>
                </div>
                <svg id="tail" width="100" height="100">
                  <polygon points="10,0 40,0 30,50" style="fill: rgba(93, 65, 174, 0.8);"></polygon>
                </svg>
              </form>


        </div>
        <div
          id="lyric-column"
          class="col-md-6 col-xs-12 col-md-offset-6"
          style="background-image: url(<%= artwork_src %>)">
          <div id="lyricsDisplay">
          </div>
        </div>
      </div>


      <footer class="footer">
        <p>&copy; 2017 KeduIje, Inc.</p>
      </footer>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/js/ie10-viewport-bug-workaround.js"></script>
    <script src="/js/player.js"></script>
    <script src="https://www.youtube.com/iframe_api" async></script>
  </body>
</html>
